# 📊 NTU YouBike 資料摘要

## "這個筆記本展示 NTU 區域 YouBike 資料的基本資訊和預覽。"

In [38]:
import pandas as pd
import glob 
import os

## 📁 原始資料預覽

In [ ]:
# 讀取所有原始資料預覽
preview_files = glob.glob("..\\data\\raw/previews/*.csv")
preview_files.sort()

for file in preview_files:
    month = file.split('_')[0].split('/')[-1]
    print(f"\n📅 {month} 原始資料:")
    df = pd.read_csv(file)
    print(f"形狀: {df.shape}")
    display(df.head())

## 🚴‍♂️ NTU 處理後資料預覽

In [40]:
ntu_files = glob.glob("..\\data/processed/ntu_youbike_data/*.csv")
ntu_files.sort()

for file in ntu_files:
    month = file.split('_')[-1].replace('.csv', '')
    print(f"\n📅 {month} NTU 資料:")
    df = pd.read_csv(file)
    print(f"形狀: {df.shape}")
    display(df.head())

📅 202403 NTU 資料:
形狀: (441755, 6)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,date
0,2024-03-26 19:00:00,捷運公館站(3號出口),2024-03-26 19:00:00,臺大圖資系館北側,00:03:45,2024-03-26
1,2024-03-26 08:00:00,捷運信義安和站(1號出口),2024-03-26 09:00:00,臺大女九舍西南側,00:17:16,2024-03-26
2,2024-03-26 15:00:00,捷運信義安和站(1號出口),2024-03-26 15:00:00,捷運公館站(2號出口),00:31:11,2024-03-26
3,2024-03-26 17:00:00,敦化南路二段103巷口,2024-03-26 17:00:00,捷運公館站(2號出口),00:15:12,2024-03-26
4,2024-03-26 17:00:00,敦化南路二段103巷口,2024-03-26 17:00:00,臺灣科技大學側門,00:14:19,2024-03-26

📅 202404 NTU 資料:
形狀: (452888, 6)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,date
0,2024-04-26 22:00:00,樂利路101巷口,2024-04-26 22:00:00,辛亥復興路口西北側,00:07:45,2024-04-26
1,2024-04-26 19:00:00,捷運公館站(1號出口),2024-04-26 19:00:00,師範大學公館校區_1,00:14:16,2024-04-26
2,2024-04-26 15:00:00,臺灣科技大學側門,2024-04-26 15:00:00,捷運公館站(2號出口),00:03:53,2024-04-26
3,2024-04-26 23:00:00,臺大卓越研究大樓,2024-04-26 23:00:00,臺大獸醫館南側,00:09:20,2024-04-26
4,2024-04-26 16:00:00,臺大卓越研究大樓,2024-04-26 16:00:00,臺大工綜館南側,00:11:03,2024-04-26

📅 202405 NTU 資料:
形狀: (532153, 6)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,date
0,2024-05-04 13:00:00,臺大社科院西側,2024-05-04 13:00:00,和平泰順街口,00:06:50,2024-05-04
1,2024-05-04 15:00:00,臺大一號館,2024-05-04 15:00:00,臺大新體育館東南側,00:05:25,2024-05-04
2,2024-05-04 14:00:00,臺大大一女舍北側,2024-05-04 14:00:00,臺大鹿鳴堂東側,00:01:48,2024-05-04
3,2024-05-04 21:00:00,臺大大一女舍北側,2024-05-04 21:00:00,臺大男六舍前,00:12:27,2024-05-04
4,2024-05-04 15:00:00,華江高中,2024-05-04 15:00:00,臺大管理學院二館北側,00:33:03,2024-05-04

📅 202406 NTU 資料:
形狀: (382691, 6)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,date
0,2024-06-19 20:00:00,和平復興路口西北側,2024-06-19 20:00:00,臺大鄭江樓北側,00:07:06,2024-06-19
1,2024-06-19 15:00:00,捷運公館站(2號出口),2024-06-19 15:00:00,臺大動物醫院前,00:04:54,2024-06-19
2,2024-06-19 21:00:00,捷運公館站(2號出口),2024-06-19 22:00:00,復興南路二段340巷口,00:11:23,2024-06-19
3,2024-06-19 11:00:00,臺灣科技大學側門,2024-06-19 11:00:00,捷運公館站(2號出口),00:04:22,2024-06-19
4,2024-06-19 21:00:00,捷運忠孝復興站(3號出口),2024-06-19 21:00:00,臺大鄭江樓北側,00:12:03,2024-06-19

📅 202409 NTU 資料:
形狀: (780485, 6)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,date
0,2024-09-17 05:00:00,臺大總圖書館西南側,2024-09-17 09:00:00,臺大大一女舍北側,03:11:24,2024-09-17
1,2024-09-17 18:00:00,臺大男六舍前,2024-09-17 19:00:00,臺大男六舍前,00:49:24,2024-09-17
2,2024-09-17 11:00:00,辛亥復興路口西北側,2024-09-17 12:00:00,原臺北刑務所官舍,00:21:08,2024-09-17
3,2024-09-17 18:00:00,臺大女九舍西南側,2024-09-17 18:00:00,臺大舊體育館西側,00:38:04,2024-09-17
4,2024-09-17 20:00:00,臺大農業陳列館北側,2024-09-17 21:00:00,臺大獸醫館南側,00:05:17,2024-09-17

📅 202410 NTU 資料:
形狀: (654673, 6)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,date
0,2024-10-17 01:00:00,芳蘭山莊,2024-10-17 01:00:00,臺大男六舍前,00:03:20,2024-10-17
1,2024-10-17 18:00:00,臨江街夜市(基隆路),2024-10-17 18:00:00,臺大第一活動中心西南側,00:18:23,2024-10-17
2,2024-10-17 18:00:00,臨江街夜市(基隆路),2024-10-17 18:00:00,臺大新體育館東南側,00:25:31,2024-10-17
3,2024-10-17 19:00:00,臨江街夜市(基隆路),2024-10-17 19:00:00,辛亥復興路口西北側,00:10:38,2024-10-17
4,2024-10-17 20:00:00,臨江街夜市(基隆路),2024-10-17 20:00:00,臺大新生教室南側,00:13:07,2024-10-17

📅 202411 NTU 資料:
形狀: (716655, 7)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,type,date
0,2024-11-15 16:00:00,臺大黑森林西側,2024-11-15 16:00:00,捷運公館站(3號出口),00:06:39,一般車,2024-11-15
1,2024-11-15 11:00:00,辛亥復興路口西北側,2024-11-15 11:00:00,臺大小福樓東側,00:08:14,電輔車,2024-11-15
2,2024-11-15 18:00:00,金華公園,2024-11-15 18:00:00,臺大農化新館西側,00:11:48,一般車,2024-11-15
3,2024-11-15 18:00:00,台北花木批發市場,2024-11-15 18:00:00,捷運公館站(1號出口),00:11:20,一般車,2024-11-15
4,2024-11-15 11:00:00,捷運公館站(2號出口),2024-11-15 11:00:00,臺灣科技大學側門,00:02:38,一般車,2024-11-15

📅 202412 NTU 資料:
形狀: (695472, 7)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,type,date
0,2024-12-18 18:00:00,臺大一號館,2024-12-18 18:00:00,臺大黑森林西側,00:05:51,一般車,2024-12-18
1,2024-12-18 12:00:00,捷運公館站(1號出口),2024-12-18 12:00:00,師範大學公館校區,00:06:53,一般車,2024-12-18
2,2024-12-18 16:00:00,臺大小福樓東側,2024-12-18 16:00:00,臺大水源舍區A棟,00:06:22,一般車,2024-12-18
3,2024-12-18 18:00:00,捷運公館站(3號出口),2024-12-19 00:00:00,新生南路三段94巷口,06:10:45,一般車,2024-12-18
4,2024-12-18 10:00:00,臺灣科技大學側門,2024-12-18 10:00:00,捷運公館站(3號出口),00:07:45,一般車,2024-12-18

📅 202501 NTU 資料:
形狀: (412535, 7)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,type,date
0,2025-01-13 15:00:00,捷運古亭站(8號出口),2025-01-13 21:00:00,新生南路三段52號前,05:34:25,電輔車,2025-01-13
1,2025-01-13 01:00:00,辛亥路一段30號前,2025-01-13 03:00:00,捷運公館站(4號出口),01:50:15,一般車,2025-01-13
2,2025-01-13 12:00:00,臺大男一舍前,2025-01-13 12:00:00,捷運公館站(2號出口),00:06:22,一般車,2025-01-13
3,2025-01-13 15:00:00,臺大卓越研究大樓,2025-01-13 16:00:00,臺大立體機車停車場,00:35:58,一般車,2025-01-13
4,2025-01-13 15:00:00,捷運公館站(2號出口),2025-01-13 16:00:00,臺大鹿鳴堂東側,00:32:42,一般車,2025-01-13

## 🌊 站點流量資料預覽

In [41]:
# 讀取站點流量資料
flow_files = glob.glob("..\\data/processed/station_flow/*.csv")
flow_files.sort()

for file in flow_files:
    month = file.split('_')[-1].replace('.csv', '')
    print(f"\n📅 {month} 站點流量:")
    df = pd.read_csv(file)
    print(f"形狀: {df.shape}")
    display(df.head())

📅 202403 站點流量:
形狀: (41798, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  基隆長興路口  2024-03-01     0           1.0           2.0
1           1  基隆長興路口  2024-03-01     1           0.0           2.0
2           2  基隆長興路口  2024-03-01     2           1.0           0.0
3           3  基隆長興路口  2024-03-01     3           0.0           1.0
4           4  基隆長興路口  2024-03-01     6           0.0           1.0

📅 202404 站點流量:
形狀: (40951, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  基隆長興路口  2024-04-01     0           0.0           3.0
1           1  基隆長興路口  2024-04-01     5           1.0           0.0
2           2  基隆長興路口  2024-04-01     6           0.0           1.0
3           3  基隆長興路口  2024-04-01     7           1.0           0.0
4           4  基隆長興路口  2024-04-01     8           5.0           1.0

📅 202405 站點流量:
形狀: (43097, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  基隆長興路口  2024-05-01     0           1.0           1.0
1           1  基隆長興路口  2024-05-01     1           0.0           4.0
2           2  基隆長興路口  2024-05-01     2           0.0           3.0
3           3  基隆長興路口  2024-05-01     3           0.0           1.0
4           4  基隆長興路口  2024-05-01     5           2.0           0.0

📅 202406 站點流量:
形狀: (41679, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  基隆長興路口  2024-06-01     0           0.0           3.0
1           1  基隆長興路口  2024-06-01     1           0.0           5.0
2           2  基隆長興路口  2024-06-01     2           0.0           2.0
3           3  基隆長興路口  2024-06-01     3           0.0           1.0
4           4  基隆長興路口  2024-06-01     4           0.0           1.0

📅 202409 站點流量:
形狀: (42165, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  基隆長興路口  2024-09-01     0           1.0          14.0
1           1  基隆長興路口  2024-09-01     1           1.0           9.0
2           2  基隆長興路口  2024-09-01     2           1.0           4.0
3           3  基隆長興路口  2024-09-01     3           0.0           4.0
4           4  基隆長興路口  2024-09-01     8          37.0           0.0

📅 202410 站點流量:
形狀: (39869, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  基隆長興路口  2024-10-01     0           1.0           1.0
1           1  基隆長興路口  2024-10-01     5           3.0           0.0
2           2  基隆長興路口  2024-10-01     6           3.0           1.0
3           3  基隆長興路口  2024-10-01     7           1.0           3.0
4           4  基隆長興路口  2024-10-01     8          37.0           6.0

📅 202411 站點流量:
形狀: (43128, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  基隆長興路口  2024-11-01     5           2.0           4.0
1           1  基隆長興路口  2024-11-01     6           2.0           0.0
2           2  基隆長興路口  2024-11-01     7           9.0           3.0
3           3  基隆長興路口  2024-11-01     8          34.0           6.0
4           4  基隆長興路口  2024-11-01     9          12.0           4.0

📅 202412 站點流量:
形狀: (44481, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  基隆長興路口  2024-12-01     0           1.0           9.0
1           1  基隆長興路口  2024-12-01     1           0.0           2.0
2           2  基隆長興路口  2024-12-01     2           1.0           4.0
3           3  基隆長興路口  2024-12-01     4           0.0           5.0
4           4  基隆長興路口  2024-12-01     5           2.0           4.0

📅 202501 站點流量:
形狀: (40244, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  基隆長興路口  2025-01-01     1           6.0           4.0
1           1  基隆長興路口  2025-01-01     2           2.0           2.0
2           2  基隆長興路口  2025-01-01     4           0.0           1.0
3           3  基隆長興路口  2025-01-01     5           1.0           1.0
4           4  基隆長興路口  2025-01-01     6           2.0           2.0

## 🏢 站點資訊

In [42]:
# 路線資訊
print("🛣️ 站點間路線:")
routes_df = pd.read_csv("..\\data\\processed\\routes_with_sno_clean.csv")
print(f"形狀: {routes_df.shape}")
display(routes_df.head())

🛣️ 站點間路線:
形狀: (5256, 6)

,origin,destination,distance_km,duration_min,origin_sno,destination_sno
0,YouBike2.0_辛亥復興路口西北側,YouBike2.0_新生南路三段52號前,1.143,4.3,500101005.0,500101008.0
1,YouBike2.0_辛亥復興路口西北側,YouBike2.0_新生南路三段66號前,1.296,4.8,500101005.0,500101009.0
2,YouBike2.0_辛亥復興路口西北側,YouBike2.0_新生南路三段82號前,1.390,5.1,500101005.0,500101010.0
3,YouBike2.0_辛亥復興路口西北側,YouBike2.0_銘傳國小側門,1.688,8.4,500101005.0,500101021.0
4,YouBike2.0_辛亥復興路口西北側,YouBike2.0_捷運公館站(2號出口),1.660,6.2,500101005.0,500101022.0

In [43]:
# 站點資訊
print("🏢 NTU 區域 YouBike 站點:")
stations_df = pd.read_csv("..\\data/processed/ntu_area_ubike_stations_new.csv")
print(f"形狀: {stations_df.shape}")
display(stations_df.head())

🏢 NTU 區域 YouBike 站點:
形狀: (73, 10)

,sno,sna,sarea,latitude,longitude,ar,sareaen,aren,act,total
0,500119047,YouBike2.0_臺大土木系館,臺大公館校區,25.01761,121.53844,臺大土木工程學系所南側,NTU Dist,NTU Dept. of Civil Engineering(South),0,30.0
1,500119043,YouBike2.0_臺大男八舍東側,臺大公館校區,25.01729,121.54531,臺大男八舍東側,NTU Dist,NTU 8th Men's Dorm(East),1,42.0
2,500119044,YouBike2.0_臺大禮賢樓東南側,臺大公館校區,25.01408,121.53759,臺大仰萃樓東南側,NTU Dist,NTU The Apex Building(Southeast),1,23.0
3,500119045,YouBike2.0_臺大農業陳列館北側,臺大公館校區,25.01839,121.53404,農業陳列館北側,NTU Dist,NTU Agricultural Exhibition Hall(North),1,45.0
4,500119046,YouBike2.0_臺大管理學院二館北側,臺大公館校區,25.01355,121.53673,管理學院二號館北側,NTU Dist,NTU Building 2， College of Management(North),1,40.0