# ğŸ“Š NTU YouBike è³‡æ–™æ‘˜è¦

## "é€™å€‹ç­†è¨˜æœ¬å±•ç¤º NTU å€åŸŸ YouBike è³‡æ–™çš„åŸºæœ¬è³‡è¨Šå’Œé è¦½ã€‚"

In [38]:
import pandas as pd
import glob 
import os

## ğŸ“ åŸå§‹è³‡æ–™é è¦½

In [ ]:
# è®€å–æ‰€æœ‰åŸå§‹è³‡æ–™é è¦½
preview_files = glob.glob("..\\data\\raw/previews/*.csv")
preview_files.sort()

for file in preview_files:
    month = file.split('_')[0].split('/')[-1]
    print(f"\nğŸ“… {month} åŸå§‹è³‡æ–™:")
    df = pd.read_csv(file)
    print(f"å½¢ç‹€: {df.shape}")
    display(df.head())

## ğŸš´â€â™‚ï¸ NTU è™•ç†å¾Œè³‡æ–™é è¦½

In [40]:
ntu_files = glob.glob("..\\data/processed/ntu_youbike_data/*.csv")
ntu_files.sort()

for file in ntu_files:
    month = file.split('_')[-1].replace('.csv', '')
    print(f"\nğŸ“… {month} NTU è³‡æ–™:")
    df = pd.read_csv(file)
    print(f"å½¢ç‹€: {df.shape}")
    display(df.head())

ğŸ“… 202403 NTU è³‡æ–™:
å½¢ç‹€: (441755, 6)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,date
0,2024-03-26 19:00:00,æ·é‹å…¬é¤¨ç«™(3è™Ÿå‡ºå£),2024-03-26 19:00:00,è‡ºå¤§åœ–è³‡ç³»é¤¨åŒ—å´,00:03:45,2024-03-26
1,2024-03-26 08:00:00,æ·é‹ä¿¡ç¾©å®‰å’Œç«™(1è™Ÿå‡ºå£),2024-03-26 09:00:00,è‡ºå¤§å¥³ä¹èˆè¥¿å—å´,00:17:16,2024-03-26
2,2024-03-26 15:00:00,æ·é‹ä¿¡ç¾©å®‰å’Œç«™(1è™Ÿå‡ºå£),2024-03-26 15:00:00,æ·é‹å…¬é¤¨ç«™(2è™Ÿå‡ºå£),00:31:11,2024-03-26
3,2024-03-26 17:00:00,æ•¦åŒ–å—è·¯äºŒæ®µ103å··å£,2024-03-26 17:00:00,æ·é‹å…¬é¤¨ç«™(2è™Ÿå‡ºå£),00:15:12,2024-03-26
4,2024-03-26 17:00:00,æ•¦åŒ–å—è·¯äºŒæ®µ103å··å£,2024-03-26 17:00:00,è‡ºç£ç§‘æŠ€å¤§å­¸å´é–€,00:14:19,2024-03-26

ğŸ“… 202404 NTU è³‡æ–™:
å½¢ç‹€: (452888, 6)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,date
0,2024-04-26 22:00:00,æ¨‚åˆ©è·¯101å··å£,2024-04-26 22:00:00,è¾›äº¥å¾©èˆˆè·¯å£è¥¿åŒ—å´,00:07:45,2024-04-26
1,2024-04-26 19:00:00,æ·é‹å…¬é¤¨ç«™(1è™Ÿå‡ºå£),2024-04-26 19:00:00,å¸«ç¯„å¤§å­¸å…¬é¤¨æ ¡å€_1,00:14:16,2024-04-26
2,2024-04-26 15:00:00,è‡ºç£ç§‘æŠ€å¤§å­¸å´é–€,2024-04-26 15:00:00,æ·é‹å…¬é¤¨ç«™(2è™Ÿå‡ºå£),00:03:53,2024-04-26
3,2024-04-26 23:00:00,è‡ºå¤§å“è¶Šç ”ç©¶å¤§æ¨“,2024-04-26 23:00:00,è‡ºå¤§ç¸é†«é¤¨å—å´,00:09:20,2024-04-26
4,2024-04-26 16:00:00,è‡ºå¤§å“è¶Šç ”ç©¶å¤§æ¨“,2024-04-26 16:00:00,è‡ºå¤§å·¥ç¶œé¤¨å—å´,00:11:03,2024-04-26

ğŸ“… 202405 NTU è³‡æ–™:
å½¢ç‹€: (532153, 6)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,date
0,2024-05-04 13:00:00,è‡ºå¤§ç¤¾ç§‘é™¢è¥¿å´,2024-05-04 13:00:00,å’Œå¹³æ³°é †è¡—å£,00:06:50,2024-05-04
1,2024-05-04 15:00:00,è‡ºå¤§ä¸€è™Ÿé¤¨,2024-05-04 15:00:00,è‡ºå¤§æ–°é«”è‚²é¤¨æ±å—å´,00:05:25,2024-05-04
2,2024-05-04 14:00:00,è‡ºå¤§å¤§ä¸€å¥³èˆåŒ—å´,2024-05-04 14:00:00,è‡ºå¤§é¹¿é³´å ‚æ±å´,00:01:48,2024-05-04
3,2024-05-04 21:00:00,è‡ºå¤§å¤§ä¸€å¥³èˆåŒ—å´,2024-05-04 21:00:00,è‡ºå¤§ç”·å…­èˆå‰,00:12:27,2024-05-04
4,2024-05-04 15:00:00,è¯æ±Ÿé«˜ä¸­,2024-05-04 15:00:00,è‡ºå¤§ç®¡ç†å­¸é™¢äºŒé¤¨åŒ—å´,00:33:03,2024-05-04

ğŸ“… 202406 NTU è³‡æ–™:
å½¢ç‹€: (382691, 6)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,date
0,2024-06-19 20:00:00,å’Œå¹³å¾©èˆˆè·¯å£è¥¿åŒ—å´,2024-06-19 20:00:00,è‡ºå¤§é„­æ±Ÿæ¨“åŒ—å´,00:07:06,2024-06-19
1,2024-06-19 15:00:00,æ·é‹å…¬é¤¨ç«™(2è™Ÿå‡ºå£),2024-06-19 15:00:00,è‡ºå¤§å‹•ç‰©é†«é™¢å‰,00:04:54,2024-06-19
2,2024-06-19 21:00:00,æ·é‹å…¬é¤¨ç«™(2è™Ÿå‡ºå£),2024-06-19 22:00:00,å¾©èˆˆå—è·¯äºŒæ®µ340å··å£,00:11:23,2024-06-19
3,2024-06-19 11:00:00,è‡ºç£ç§‘æŠ€å¤§å­¸å´é–€,2024-06-19 11:00:00,æ·é‹å…¬é¤¨ç«™(2è™Ÿå‡ºå£),00:04:22,2024-06-19
4,2024-06-19 21:00:00,æ·é‹å¿ å­å¾©èˆˆç«™(3è™Ÿå‡ºå£),2024-06-19 21:00:00,è‡ºå¤§é„­æ±Ÿæ¨“åŒ—å´,00:12:03,2024-06-19

ğŸ“… 202409 NTU è³‡æ–™:
å½¢ç‹€: (780485, 6)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,date
0,2024-09-17 05:00:00,è‡ºå¤§ç¸½åœ–æ›¸é¤¨è¥¿å—å´,2024-09-17 09:00:00,è‡ºå¤§å¤§ä¸€å¥³èˆåŒ—å´,03:11:24,2024-09-17
1,2024-09-17 18:00:00,è‡ºå¤§ç”·å…­èˆå‰,2024-09-17 19:00:00,è‡ºå¤§ç”·å…­èˆå‰,00:49:24,2024-09-17
2,2024-09-17 11:00:00,è¾›äº¥å¾©èˆˆè·¯å£è¥¿åŒ—å´,2024-09-17 12:00:00,åŸè‡ºåŒ—åˆ‘å‹™æ‰€å®˜èˆ,00:21:08,2024-09-17
3,2024-09-17 18:00:00,è‡ºå¤§å¥³ä¹èˆè¥¿å—å´,2024-09-17 18:00:00,è‡ºå¤§èˆŠé«”è‚²é¤¨è¥¿å´,00:38:04,2024-09-17
4,2024-09-17 20:00:00,è‡ºå¤§è¾²æ¥­é™³åˆ—é¤¨åŒ—å´,2024-09-17 21:00:00,è‡ºå¤§ç¸é†«é¤¨å—å´,00:05:17,2024-09-17

ğŸ“… 202410 NTU è³‡æ–™:
å½¢ç‹€: (654673, 6)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,date
0,2024-10-17 01:00:00,èŠ³è˜­å±±èŠ,2024-10-17 01:00:00,è‡ºå¤§ç”·å…­èˆå‰,00:03:20,2024-10-17
1,2024-10-17 18:00:00,è‡¨æ±Ÿè¡—å¤œå¸‚(åŸºéš†è·¯),2024-10-17 18:00:00,è‡ºå¤§ç¬¬ä¸€æ´»å‹•ä¸­å¿ƒè¥¿å—å´,00:18:23,2024-10-17
2,2024-10-17 18:00:00,è‡¨æ±Ÿè¡—å¤œå¸‚(åŸºéš†è·¯),2024-10-17 18:00:00,è‡ºå¤§æ–°é«”è‚²é¤¨æ±å—å´,00:25:31,2024-10-17
3,2024-10-17 19:00:00,è‡¨æ±Ÿè¡—å¤œå¸‚(åŸºéš†è·¯),2024-10-17 19:00:00,è¾›äº¥å¾©èˆˆè·¯å£è¥¿åŒ—å´,00:10:38,2024-10-17
4,2024-10-17 20:00:00,è‡¨æ±Ÿè¡—å¤œå¸‚(åŸºéš†è·¯),2024-10-17 20:00:00,è‡ºå¤§æ–°ç”Ÿæ•™å®¤å—å´,00:13:07,2024-10-17

ğŸ“… 202411 NTU è³‡æ–™:
å½¢ç‹€: (716655, 7)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,type,date
0,2024-11-15 16:00:00,è‡ºå¤§é»‘æ£®æ—è¥¿å´,2024-11-15 16:00:00,æ·é‹å…¬é¤¨ç«™(3è™Ÿå‡ºå£),00:06:39,ä¸€èˆ¬è»Š,2024-11-15
1,2024-11-15 11:00:00,è¾›äº¥å¾©èˆˆè·¯å£è¥¿åŒ—å´,2024-11-15 11:00:00,è‡ºå¤§å°ç¦æ¨“æ±å´,00:08:14,é›»è¼”è»Š,2024-11-15
2,2024-11-15 18:00:00,é‡‘è¯å…¬åœ’,2024-11-15 18:00:00,è‡ºå¤§è¾²åŒ–æ–°é¤¨è¥¿å´,00:11:48,ä¸€èˆ¬è»Š,2024-11-15
3,2024-11-15 18:00:00,å°åŒ—èŠ±æœ¨æ‰¹ç™¼å¸‚å ´,2024-11-15 18:00:00,æ·é‹å…¬é¤¨ç«™(1è™Ÿå‡ºå£),00:11:20,ä¸€èˆ¬è»Š,2024-11-15
4,2024-11-15 11:00:00,æ·é‹å…¬é¤¨ç«™(2è™Ÿå‡ºå£),2024-11-15 11:00:00,è‡ºç£ç§‘æŠ€å¤§å­¸å´é–€,00:02:38,ä¸€èˆ¬è»Š,2024-11-15

ğŸ“… 202412 NTU è³‡æ–™:
å½¢ç‹€: (695472, 7)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,type,date
0,2024-12-18 18:00:00,è‡ºå¤§ä¸€è™Ÿé¤¨,2024-12-18 18:00:00,è‡ºå¤§é»‘æ£®æ—è¥¿å´,00:05:51,ä¸€èˆ¬è»Š,2024-12-18
1,2024-12-18 12:00:00,æ·é‹å…¬é¤¨ç«™(1è™Ÿå‡ºå£),2024-12-18 12:00:00,å¸«ç¯„å¤§å­¸å…¬é¤¨æ ¡å€,00:06:53,ä¸€èˆ¬è»Š,2024-12-18
2,2024-12-18 16:00:00,è‡ºå¤§å°ç¦æ¨“æ±å´,2024-12-18 16:00:00,è‡ºå¤§æ°´æºèˆå€Aæ£Ÿ,00:06:22,ä¸€èˆ¬è»Š,2024-12-18
3,2024-12-18 18:00:00,æ·é‹å…¬é¤¨ç«™(3è™Ÿå‡ºå£),2024-12-19 00:00:00,æ–°ç”Ÿå—è·¯ä¸‰æ®µ94å··å£,06:10:45,ä¸€èˆ¬è»Š,2024-12-18
4,2024-12-18 10:00:00,è‡ºç£ç§‘æŠ€å¤§å­¸å´é–€,2024-12-18 10:00:00,æ·é‹å…¬é¤¨ç«™(3è™Ÿå‡ºå£),00:07:45,ä¸€èˆ¬è»Š,2024-12-18

ğŸ“… 202501 NTU è³‡æ–™:
å½¢ç‹€: (412535, 7)

,borrow_datetime,borrow_site,return_datetime,return_site,borrowing_time,type,date
0,2025-01-13 15:00:00,æ·é‹å¤äº­ç«™(8è™Ÿå‡ºå£),2025-01-13 21:00:00,æ–°ç”Ÿå—è·¯ä¸‰æ®µ52è™Ÿå‰,05:34:25,é›»è¼”è»Š,2025-01-13
1,2025-01-13 01:00:00,è¾›äº¥è·¯ä¸€æ®µ30è™Ÿå‰,2025-01-13 03:00:00,æ·é‹å…¬é¤¨ç«™(4è™Ÿå‡ºå£),01:50:15,ä¸€èˆ¬è»Š,2025-01-13
2,2025-01-13 12:00:00,è‡ºå¤§ç”·ä¸€èˆå‰,2025-01-13 12:00:00,æ·é‹å…¬é¤¨ç«™(2è™Ÿå‡ºå£),00:06:22,ä¸€èˆ¬è»Š,2025-01-13
3,2025-01-13 15:00:00,è‡ºå¤§å“è¶Šç ”ç©¶å¤§æ¨“,2025-01-13 16:00:00,è‡ºå¤§ç«‹é«”æ©Ÿè»Šåœè»Šå ´,00:35:58,ä¸€èˆ¬è»Š,2025-01-13
4,2025-01-13 15:00:00,æ·é‹å…¬é¤¨ç«™(2è™Ÿå‡ºå£),2025-01-13 16:00:00,è‡ºå¤§é¹¿é³´å ‚æ±å´,00:32:42,ä¸€èˆ¬è»Š,2025-01-13

## ğŸŒŠ ç«™é»æµé‡è³‡æ–™é è¦½

In [41]:
# è®€å–ç«™é»æµé‡è³‡æ–™
flow_files = glob.glob("..\\data/processed/station_flow/*.csv")
flow_files.sort()

for file in flow_files:
    month = file.split('_')[-1].replace('.csv', '')
    print(f"\nğŸ“… {month} ç«™é»æµé‡:")
    df = pd.read_csv(file)
    print(f"å½¢ç‹€: {df.shape}")
    display(df.head())

ğŸ“… 202403 ç«™é»æµé‡:
å½¢ç‹€: (41798, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  åŸºéš†é•·èˆˆè·¯å£  2024-03-01     0           1.0           2.0
1           1  åŸºéš†é•·èˆˆè·¯å£  2024-03-01     1           0.0           2.0
2           2  åŸºéš†é•·èˆˆè·¯å£  2024-03-01     2           1.0           0.0
3           3  åŸºéš†é•·èˆˆè·¯å£  2024-03-01     3           0.0           1.0
4           4  åŸºéš†é•·èˆˆè·¯å£  2024-03-01     6           0.0           1.0

ğŸ“… 202404 ç«™é»æµé‡:
å½¢ç‹€: (40951, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  åŸºéš†é•·èˆˆè·¯å£  2024-04-01     0           0.0           3.0
1           1  åŸºéš†é•·èˆˆè·¯å£  2024-04-01     5           1.0           0.0
2           2  åŸºéš†é•·èˆˆè·¯å£  2024-04-01     6           0.0           1.0
3           3  åŸºéš†é•·èˆˆè·¯å£  2024-04-01     7           1.0           0.0
4           4  åŸºéš†é•·èˆˆè·¯å£  2024-04-01     8           5.0           1.0

ğŸ“… 202405 ç«™é»æµé‡:
å½¢ç‹€: (43097, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  åŸºéš†é•·èˆˆè·¯å£  2024-05-01     0           1.0           1.0
1           1  åŸºéš†é•·èˆˆè·¯å£  2024-05-01     1           0.0           4.0
2           2  åŸºéš†é•·èˆˆè·¯å£  2024-05-01     2           0.0           3.0
3           3  åŸºéš†é•·èˆˆè·¯å£  2024-05-01     3           0.0           1.0
4           4  åŸºéš†é•·èˆˆè·¯å£  2024-05-01     5           2.0           0.0

ğŸ“… 202406 ç«™é»æµé‡:
å½¢ç‹€: (41679, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  åŸºéš†é•·èˆˆè·¯å£  2024-06-01     0           0.0           3.0
1           1  åŸºéš†é•·èˆˆè·¯å£  2024-06-01     1           0.0           5.0
2           2  åŸºéš†é•·èˆˆè·¯å£  2024-06-01     2           0.0           2.0
3           3  åŸºéš†é•·èˆˆè·¯å£  2024-06-01     3           0.0           1.0
4           4  åŸºéš†é•·èˆˆè·¯å£  2024-06-01     4           0.0           1.0

ğŸ“… 202409 ç«™é»æµé‡:
å½¢ç‹€: (42165, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  åŸºéš†é•·èˆˆè·¯å£  2024-09-01     0           1.0          14.0
1           1  åŸºéš†é•·èˆˆè·¯å£  2024-09-01     1           1.0           9.0
2           2  åŸºéš†é•·èˆˆè·¯å£  2024-09-01     2           1.0           4.0
3           3  åŸºéš†é•·èˆˆè·¯å£  2024-09-01     3           0.0           4.0
4           4  åŸºéš†é•·èˆˆè·¯å£  2024-09-01     8          37.0           0.0

ğŸ“… 202410 ç«™é»æµé‡:
å½¢ç‹€: (39869, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  åŸºéš†é•·èˆˆè·¯å£  2024-10-01     0           1.0           1.0
1           1  åŸºéš†é•·èˆˆè·¯å£  2024-10-01     5           3.0           0.0
2           2  åŸºéš†é•·èˆˆè·¯å£  2024-10-01     6           3.0           1.0
3           3  åŸºéš†é•·èˆˆè·¯å£  2024-10-01     7           1.0           3.0
4           4  åŸºéš†é•·èˆˆè·¯å£  2024-10-01     8          37.0           6.0

ğŸ“… 202411 ç«™é»æµé‡:
å½¢ç‹€: (43128, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  åŸºéš†é•·èˆˆè·¯å£  2024-11-01     5           2.0           4.0
1           1  åŸºéš†é•·èˆˆè·¯å£  2024-11-01     6           2.0           0.0
2           2  åŸºéš†é•·èˆˆè·¯å£  2024-11-01     7           9.0           3.0
3           3  åŸºéš†é•·èˆˆè·¯å£  2024-11-01     8          34.0           6.0
4           4  åŸºéš†é•·èˆˆè·¯å£  2024-11-01     9          12.0           4.0

ğŸ“… 202412 ç«™é»æµé‡:
å½¢ç‹€: (44481, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  åŸºéš†é•·èˆˆè·¯å£  2024-12-01     0           1.0           9.0
1           1  åŸºéš†é•·èˆˆè·¯å£  2024-12-01     1           0.0           2.0
2           2  åŸºéš†é•·èˆˆè·¯å£  2024-12-01     2           1.0           4.0
3           3  åŸºéš†é•·èˆˆè·¯å£  2024-12-01     4           0.0           5.0
4           4  åŸºéš†é•·èˆˆè·¯å£  2024-12-01     5           2.0           4.0

ğŸ“… 202501 ç«™é»æµé‡:
å½¢ç‹€: (40244, 6)

   Unnamed: 0 station        date  hour  borrow_count  return_count
0           0  åŸºéš†é•·èˆˆè·¯å£  2025-01-01     1           6.0           4.0
1           1  åŸºéš†é•·èˆˆè·¯å£  2025-01-01     2           2.0           2.0
2           2  åŸºéš†é•·èˆˆè·¯å£  2025-01-01     4           0.0           1.0
3           3  åŸºéš†é•·èˆˆè·¯å£  2025-01-01     5           1.0           1.0
4           4  åŸºéš†é•·èˆˆè·¯å£  2025-01-01     6           2.0           2.0

## ğŸ¢ ç«™é»è³‡è¨Š

In [42]:
# è·¯ç·šè³‡è¨Š
print("ğŸ›£ï¸ ç«™é»é–“è·¯ç·š:")
routes_df = pd.read_csv("..\\data\\processed\\routes_with_sno_clean.csv")
print(f"å½¢ç‹€: {routes_df.shape}")
display(routes_df.head())

ğŸ›£ï¸ ç«™é»é–“è·¯ç·š:
å½¢ç‹€: (5256, 6)

,origin,destination,distance_km,duration_min,origin_sno,destination_sno
0,YouBike2.0_è¾›äº¥å¾©èˆˆè·¯å£è¥¿åŒ—å´,YouBike2.0_æ–°ç”Ÿå—è·¯ä¸‰æ®µ52è™Ÿå‰,1.143,4.3,500101005.0,500101008.0
1,YouBike2.0_è¾›äº¥å¾©èˆˆè·¯å£è¥¿åŒ—å´,YouBike2.0_æ–°ç”Ÿå—è·¯ä¸‰æ®µ66è™Ÿå‰,1.296,4.8,500101005.0,500101009.0
2,YouBike2.0_è¾›äº¥å¾©èˆˆè·¯å£è¥¿åŒ—å´,YouBike2.0_æ–°ç”Ÿå—è·¯ä¸‰æ®µ82è™Ÿå‰,1.390,5.1,500101005.0,500101010.0
3,YouBike2.0_è¾›äº¥å¾©èˆˆè·¯å£è¥¿åŒ—å´,YouBike2.0_éŠ˜å‚³åœ‹å°å´é–€,1.688,8.4,500101005.0,500101021.0
4,YouBike2.0_è¾›äº¥å¾©èˆˆè·¯å£è¥¿åŒ—å´,YouBike2.0_æ·é‹å…¬é¤¨ç«™(2è™Ÿå‡ºå£),1.660,6.2,500101005.0,500101022.0

In [43]:
# ç«™é»è³‡è¨Š
print("ğŸ¢ NTU å€åŸŸ YouBike ç«™é»:")
stations_df = pd.read_csv("..\\data/processed/ntu_area_ubike_stations_new.csv")
print(f"å½¢ç‹€: {stations_df.shape}")
display(stations_df.head())

ğŸ¢ NTU å€åŸŸ YouBike ç«™é»:
å½¢ç‹€: (73, 10)

,sno,sna,sarea,latitude,longitude,ar,sareaen,aren,act,total
0,500119047,YouBike2.0_è‡ºå¤§åœŸæœ¨ç³»é¤¨,è‡ºå¤§å…¬é¤¨æ ¡å€,25.01761,121.53844,è‡ºå¤§åœŸæœ¨å·¥ç¨‹å­¸ç³»æ‰€å—å´,NTU Dist,NTU Dept. of Civil Engineering(South),0,30.0
1,500119043,YouBike2.0_è‡ºå¤§ç”·å…«èˆæ±å´,è‡ºå¤§å…¬é¤¨æ ¡å€,25.01729,121.54531,è‡ºå¤§ç”·å…«èˆæ±å´,NTU Dist,NTU 8th Men's Dorm(East),1,42.0
2,500119044,YouBike2.0_è‡ºå¤§ç¦®è³¢æ¨“æ±å—å´,è‡ºå¤§å…¬é¤¨æ ¡å€,25.01408,121.53759,è‡ºå¤§ä»°èƒæ¨“æ±å—å´,NTU Dist,NTU The Apex Building(Southeast),1,23.0
3,500119045,YouBike2.0_è‡ºå¤§è¾²æ¥­é™³åˆ—é¤¨åŒ—å´,è‡ºå¤§å…¬é¤¨æ ¡å€,25.01839,121.53404,è¾²æ¥­é™³åˆ—é¤¨åŒ—å´,NTU Dist,NTU Agricultural Exhibition Hall(North),1,45.0
4,500119046,YouBike2.0_è‡ºå¤§ç®¡ç†å­¸é™¢äºŒé¤¨åŒ—å´,è‡ºå¤§å…¬é¤¨æ ¡å€,25.01355,121.53673,ç®¡ç†å­¸é™¢äºŒè™Ÿé¤¨åŒ—å´,NTU Dist,NTU Building 2ï¼Œ College of Management(North),1,40.0